@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

body {
  background-color: #ecf2f8;
}

.card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 280px;
  width: 730px;
  min-width: 730px;
  margin: 260px auto;
  border-radius: 10px;
}

.card > img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card .h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

.card .content {
  padding: 40px;
  line-height: 1.5;
  color: #48556a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.author img {
  border-radius: 50%;
  margin-right: 16px;
}

.author .name {
  font-weight: 700;
}

.author .date {
  opacity: 0.7;
}

.share-btn {
  position: relative;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ecf2f8;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
}

.social-link {
  z-index: 10;
  position: absolute;
  top: -75px;
  left: 215px;
  width: auto;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #48556a;
  color: #ecf2f8;
  padding: 16px 35px;
}

.social-link div {
  margin-right: 18px;
  opacity: 0.7;
  letter-spacing: 0.4em;
}

.social-link a {
  margin-right: 12px;
}

.display-none {
  display: none;
}

.social-link::before {
  content: "";
  border-style: solid;
  border-width: 14px;
  border-color: #48556a transparent transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: 50%;
  top: 56px;
}

.attribution {
  text-align: center;
  font-size: 0.7rem;
}

@media only screen and (max-width: 375px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 70px 30px;
    width: 330px;
    min-width: 330px;
    height: auto;
    border-radius: 10px;
  }
  .card .h1, .card p {
    padding-left: 32px;
    padding-right: 32px;
  }
  .card > img {
    width: 330px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
  .card .card-footer {
    margin-top: 1rem;
    padding: 0 32px 12px 32px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .card .active {
    background-color: #48556a;
  }
  .card .content {
    padding: 32px 0px 0px 0px;
  }
  .share-btn {
    z-index: 999;
  }
  .social-link {
    position: relative;
    top: 2px;
    left: -28px;
  }
  .display-none-mobile {
    display: none;
  }
  .display-mobile {
    display: none;
  }
  .social-link::before {
    content: none;
  }
}
